.sideContainer{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    line-height: 4;
    top: 27%;
    left: -40px;
    font-size: 1.8vh;
    border-radius: 0 20px 20px 0;
    z-index: 500;
    ul{
        li{
            span{
                cursor: pointer;
                transition: all 0.5s ease-out;
                a{
                    svg{
                        margin-right: 10px;
                    }
                    &:hover{
                        border-bottom: 3px double #776B5D;
                    }
                    transition: all 0.5s ease-out;
                }
                &:hover{
                    border-bottom: 3px double #776B5D;
                }
            }
            ul{
                padding-left: 20px;
                font-size: 1.5vh;
                list-style: none;
                li{
                    transition: all 0.5s ease-out;
                    a{
                        transition: all 0.5s ease-out;
                        &:hover{
                            border-bottom: 3px double #776B5D;
                        }
                    }
                }
            }
            div{
                cursor: pointer;
                line-height: 1;
                width: min-content;
                font-size: 3vh;
                position: absolute;
                top: 250px;
                right: 0;
                background-color: #F3EFE4;
                display: flex;
                border-radius: 40%;
            }
            .hideMenu{
                position: absolute;
                left: -50%;
                top: 250px;
            }
        }
        list-style: none;
    }
}

.sideHide{
    display: none;
    ul{
        display: none;
    }
}
.sideShow{
    display: block;
    .selectYear{
        display: inline-block; 
        border-left: 5px solid #776B5D;
        padding-left: 10px;
        height: auto;
        line-height: normal;
    }
    .selectAuthor{
        display: inline-block; 
        border-left: 5px solid #776B5D;
        padding-left: 10px;
        height: auto;
        line-height: normal;
    }
}

.selectSideMenu{
    border-left: 5px solid #776B5D;
    padding-left: 10px;
}